.a { /* Header */
	color: silver;
	background-image: url('../images/Thumb/thumbnail_1.png');
	background-repeat: round;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	font-size: 45px;
	font-family: "Lucida Console";
}

.b { /* Title Image */
	text-align: center;
	background-image: url('../images/Thumb/thumbnail_11.png');
	background-repeat: no-repeat;
	background-position: center;
	padding: 50px;
	/* style="background-image: url('./images/thumbnail_11.png');" How to write in html*/
}

.c { /* Site Background */
	background-image: url('../images/Thumb/backdrop.png');
}

.d { /* NAV */
	background: black;
	color: yellow;
	display: inline-block;
	font-size: 25px;
	float: center;
	text-align: center;
}

.f { /* Footer */
	display: block;
	background: black;
	color: silver;
}

.g { /* Contact */
	border-radius: 20px;
	background-color: #54411B;
	font-weight: bold;
	font-family: "Monospace";
	color: yellow;
}

.textblock { /* Block for text to be displayed on and bordered */
	display: inline-block;
	border-style: double;
	background-color:#1a0d00;
	padding: 20px;
	color: silver;
	margin: 1px 1px 1px 1px;
}